<?xml version="1.0" encoding="utf-8"?>
<manifest package="jp.inc.arouse.keyboardtestapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- アプリ -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tutorial -->
        <activity
            android:name="com.omega.keyboard.sdk.activity.TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Keyboard.NoActionBar" />

        <!-- Activate Keyboard -->
        <activity
            android:name="com.omega.keyboard.sdk.activity.ActivateKeyboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Keyboard.NoActionBar" />

        <!-- First Settings -->
        <activity
            android:name="com.omega.keyboard.sdk.activity.FirstSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Keyboard.NoActionBar" />

        <!-- Settings -->
        <activity
            android:name="com.omega.keyboard.sdk.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Keyboard" />

        <!-- CreateTheme -->
        <activity
            android:name="com.omega.keyboard.sdk.activity.CreateThemeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Keyboard" />

        <!-- User dictionary tool -->
        <activity
            android:name="com.omega.keyboard.sdk.activity.UserDictionaryToolActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Keyboard">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="application/zip" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>

        <!-- キーボード -->
        <service
            android:name=".KeyboardService"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!-- 辞書エクスポート -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/user_dictionary_export_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/export_dictionary_paths" />
        </provider>

    </application>

</manifest>